@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styles.css or globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Typewriter__cursor {
  color: #0077ff;
  font-size: 5rem;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .Typewriter__cursor {
    font-size: 3rem;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Typewriter__cursor {
    font-size: 3rem;
  }
}

/* Medium devices (small laptops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Typewriter__cursor {
    font-size: 3rem;
  }
}
